* {
    box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/
body{
    font-family: 'VT323', monospace;
}
/******************************************
/* Flex Modules
/*******************************************/
.flex{
    display:flex;
}
.row {
    flex-flow:row nowrap;
}
.col {
    flex-flow:column nowrap;
}
.just-center{
    justify-content:center;
}
.just-equal{
    justify-content:space-evenly;
}
.just-around{
    justify-content:space-around;
}
.align-center{
    align-items:center;
}
/******************************************
/* Positions
/*******************************************/
.absolute{
    position:absolute;
}
.relative{
    position:relative;
}
.a-mid{
    left:28%;
    top:30%;
}
/******************************************
/* Special Styles
/*******************************************/
.box{
    width:200px;
    height:200px;
    border: 1px solid black;
}
.screen{
    width:600px;
    height:600px;
    margin:0 auto;
}
.title{
    color:white;
    margin: 0;
    text-align:center;
}
.title-big{
    color:white;
    font-size:60px;

    margin-bottom:30px;
    text-align:center;
}
.title-small{
    color:white;
    margin: 0;
    text-align:center;
}
.text-field{
    margin: 2px 0 10px 0;
    border-radius: 7px;
    border:1px solid black;
    background:rgb(183, 183, 183);
    appearance: none;
}
.text-field:focus{
    border:1px solid rgb(0, 255, 183);
    outline:none;

}
.button {
    margin:0 5px;
    width:90px;
    height:30px;
    border-radius:7px;
}
.button:hover {
    background-color:rgb(199, 199, 199)
}
.button:active{
    background-color:white;
}
.setting-list{
    width:75%;
    margin:10px 0;
    justify-content:end;
}
.slider{
    margin:0 50px 0 100px;
}
.color-picker{
    margin:0 50px 0 100px;
    width: 128px;
    
}
.checkbox{
    margin:0 100px 0 165px;
}
.hrz-line{
    margin:30px 0;
    width:90%;
    border-top:2px solid white;
}
/******************************************
/* Color
/*******************************************/
.bg-black{
    background-color:black;
}
/******************************************
/* Sizing
/*******************************************/
.w-75{
    width:75%;
}
.my-4{
    margin:40px 0;
}
/******************************************
/* Class Function
/*******************************************/
.noClick {
    pointer-events: none;
}

.none{
    display:none;
}
.block {
    display:block;
}